@import url(reset.css);

body{
	font-family: 'Lato', sans-serif;
	line-height: 1.4;
}

a{
	text-decoration: none;
}

td{
	padding-top: 22px;
}

.size{
	width: 80%;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}

.first{
	margin-left: 0;
}

#head{
	height: 60px;
	padding: 20px 0 0 252px;
	background: #f6f9f9;
}

#logo span{
	display: block;
	margin: -44px 0 0 41px;
	font-size: 30px;
	color: #2d3950;
}

#preview{
	background: url(../images/preview-bg.jpg) no-repeat;
	height: 680px;
	width: 100%
}

#preview_content{
	margin: 0 auto;
	width: 60%;
}

#preview_content_name{
	font-weight: bold;
	font-size: 95px;
	color: #ffffff;
	text-align: center;
	padding-top: 17%;
	border-bottom: 2px solid #15a4fa;
	padding-bottom: 3%;
}

#preview_site{
	font-size: 25px;
	color: #ffffff;
	text-align: center;
	margin-top: 3.5%;
}

#order_button{
	display: block;
	text-align: center;
	margin: 7% auto;
	height: 60px;
	width: 182px;
	background: #15a4fa;
	border-radius: 10px;
	color: #fff;
	font-size: 25px;
}

#order_button:hover{
	background: #158cfa;
	color: #fff;
}

#order_button:active{
	background: #157bfa;
	color: #fff;
}

#order_button span{
	display: block;
	padding-top: 15px; 
}



#description{
	background: #f6f9f9;
	padding-bottom: 90px;
}

#slogan{
	font-size: 40px;
	color: #2d3950;
}

#description_text{
	margin-top: 20px;
	font-size: 25px;
	color: #a0a0a0;
}

#quality{
	background: #ffffff;
	overflow: hidden;
	padding: 50px 0;
}

.quality_punkt{
	float: left;
	width: 30%;
	margin-left: 5%; 
}

#first_quality_punkt{
	margin-left: 0px;
}

.quality_name{
	margin: 26px 0 10px 0;
	font-size: 27px;
	color: #2d3950;
}

.quality_text{
	font-size: 15px;
	color: #999999;
}

#portfolio{
	background: #f6f9f9;
	padding: 70px 0 100px 0; 
	overflow: hidden;
}

#portfolio_name{
	font-size: 45px;
	color: #2d3950;
}

#work{
	width: 100%;
}

#work img{
	width: 300px;
	height: auto;
}

form{
	width: 100%;
}

#contact{
	background: url(../images/order_bg.jpg) no-repeat;
	overflow: hidden;
	padding-bottom: 50px;
}

#contact_name{
	font-size: 40px;
	color: #fff;
	margin-top: 38px;
	padding-bottom: 18px;
}

.input{
	display: block;
	margin: 0 auto;
	width: 80%;
	border-radius: 5px;
	height: 50px;
	font-size: 19px;
	padding: 3px 6px;
	border: 2px solid #999999;
	color: #fff;
	background-color: transparent;
	margin-top: 15px;
}

textarea{
	height: 200px;
	padding: 3px 6px;
	resize: none;
}

textarea:focus, input:focus{
	outline: none;
	border-color: #ffffff;
}

#button{
	width: 15%;
	background: #fff;
	height: 40px;
	border-radius: 7px;
	background: #15a4fa;
	border: none;
	float: right;
	margin-right: 9.5%;
	margin-top: 15px;
	color: #fff;
	font-size: 18px;
}

#text_ar{
	height: 160px;
}

#footer{
	height: 60px;
	background: #f6f9f9;
}

#footer_size{
	padding: 0;
	margin: 0 auto;
	overflow: hidden;
	padding-right: 14.5%;
}

.social{
	width: 48px;
	height: 48px;
	float: right;
	margin-right: 15px;
	margin-top: 7px;
}

#first_social{
	margin-right: 0;
}

.social img{
	margin: 0 auto;
}

@media screen and (min-device-width: 1601px){
	#preview{
		background-position: center;
		height: 700px;
	}
	#contact{
		background-position: center;
	}
	.input{
		width: 70%;
	}
	#button{
		margin-right: 14.7%;
	}
}

@media screen and (max-device-width: 1122px){
	.quality_name{
		font-size: 30px;
	}

	.quality_text{
		font-size: 22px;
		color: #999999;
	}
	#porfolio_size{
		 width: 100%;
	}
}